.row
  .col-xs-4.col-sm-4.col-md-4.col-sm-offset-1
  .col-xs-4.col-sm-4.col-md-4
    %h1 Schools
  .col-xs-4.col-sm-4.col-md-4

.row
  .col-xs-12.col-sm-12.col-md-12.col-sm-offset-1
    %table.table.table-hover.table-condensed
      -@schools.each do |s|
        %tr
          %td
            .stars{:"data-score" => s.rating(@selected_sport), style:"display:inline; margin-left:10px"}
            ="From #{s.num_reviews} reviews"
          %td=link_to s.name, school_path(s)
.row
  .col-xs-4.col-sm-4.col-md-4.col-sm-offset-1
  .col-xs-4.col-sm-4.col-md-4
    =will_paginate @schools, container: false
